[Desktop Entry]
Encoding=UTF-8
Name=Link to peterklepec_webpagedb.sqlite3 Selected
Type=Link
URL=https://www.dropbox.com/pri/get/peterklepec_dbbackup/9_9_2015/peterklepec_webpagedb.sqlite3?_subject_uid=53344431&w=AAAIY9nNuJQXNBwR9cunX2AkSoWk8P64u83GhOmuXbUQCQ
Icon=text-html
