.gallery-conteiner{
    height: 540px;
    width: auto;
    background: rgba(13,11,11,0.7);
    margin-top:20px;
}

.gallery-conteiner-img{
    margin-top: 20px;
}

.gallery-wrapper{
    position: absolute;
    position:absolute;
    top:20px;
    bottom:0px;
    left:0px;
    right:0px;
}

.scrollbox{
    width: auto;
    height: 540px;
}

.gallery-wrapper-row{
    margin-left: 10px;

}



.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}