.flexslider {
    background: transparent;
    max-height: 540px;

    border: 0px solid transparent;

    margin-top: 20px;
    min-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
}

.flexslider .slides img {
    min-width: 700px;
    height: 540px;
}