.flexslider {
    background: transparent;
    max-height: 540px;

    border: 0px solid transparent;

    margin-top: 20px;
    min-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
}

.flexslider .slides img {
    min-width: 500px;
    height: 540px;
}

.flexslider-fix-height{
   height: 540px;
}


.flex-caption-overlay{
    position:absolute;

    bottom:0;
    width: inherit;
    height: 100%;
    background-color: rgba(0, 0, 0,0.2);
    z-index:1;
 }

.flex-caption-overlay-title{

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    color:#ffffff;
    font-size: 4em;
    font-family: oregon;
}

.flex-caption-overlay-text{
    margin-top:20px;
    font-size: 2em;
    font-family: ubuntu-l;
    text-align:center;
    color:#D7C3AB;
}

.flex-caption-overlay-button{
    margin-top: 50px;
    font-size: 1.5em;
    font-family: ubuntu-l;

    text-align: center;
    text-transform: uppercase;
}

.flex-caption-overlay-button > a{

    height: 50px;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color:#ffffff;
    background: rgba(0,0,0,0.7);
}

.flex-caption-overlay-button > a:hover{
    text-decoration: none;
    background: rgba(13,11,11,0.7);
}