.flexslider {
    background: transparent;
    max-height: 540px;

    border: 0px solid transparent;

    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.flexslider .slides img {
    min-width: 500px;
    height: 540px;
}

.flexslider-fix-height{
   height: 540px;
}


.flex-caption-overlay{
    position:absolute;

    bottom:0;
    width: inherit;
    height: 100%;
    background-color: rgba(0, 0, 0,0.2);
    z-index:1;
 }

.flex-caption-overlay-title{

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    color:#ffffff;
    font-size: 4em;
    font-family: hemi;
}

.flex-caption-overlay-text{
    margin-top:20px;
    font-size: 2em;
    font-family: hemi;
    text-align:center;
    color:#D7C3AB;
}

.flex-caption-overlay-button{
    margin-top: 50px;
    font-size: 1.5em;
    font-family: hemi;

    width: 200px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    text-transform: uppercase;


    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;

	color: white;
	border: 0 solid transparent;

	background: rgba(12,11,11,0.7);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(12,11,11,0.7)),color-stop(100%,black));
	background-image: -webkit-linear-gradient(top,rgba(12,11,11,0.7) 0,black 100%);
	background-image: -moz-linear-gradient(top,rgba(12,11,11,0.7) 0,black 100%);
	background-image: -ms-linear-gradient(top,rgba(12,11,11,0.7) 0,black 100%);
	background-image: -o-linear-gradient(top,rgba(12,11,11,0.7) 0,black 100%);

    opacity: 0.7;
}

.flex-caption-overlay-button > a{

    height: 50px;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color:#ffffff;

}

.flex-caption-overlay-button:hover{
   opacity: 1;
}

.flex-caption-overlay-button > a:hover{
    text-decoration: none;
}