
.fitnes-conteiner{
    margin-top:20px;
}

.fitnes-conteiner-info{
    background: rgba(13,11,11,0.9);
    height: 260px;


}

.fitnes-conteiner-title{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-size: 1.7em;
    text-transform: uppercase;
    color:#ffffff;
    border-bottom: 1px solid #D7C3AB;

    font-family: hemi;
}

.fitnes-conteiner-title > small{
    color: #D7C3AB;
}

.fitnes-conteiner-text{
    margin-top: 15px;

    margin-left: auto;
    margin-right: auto;
    width:90%;
    color: #A38A70;
    text-align: justify;
}

.track{
    margin-top:20px;

}

.margin-fix{
    margin-left:10px;
}

.owerflow-fix{

    overflow:auto;
    height: 170px;

}

.page-header{
    margin-top:10px;
}


.flexslider-fix-height{
    margin-top:auto;
}



.flexslider {
    background: none;
    border: none;
}

.flexslider-container{
    height: 260px;
}

.flexslider .slides img {
    height: 260px;
}


/** PRICING TABLES **/
.pricebox-container{
    position: relative;

    height:  260px;
}

.pricebox-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;

    display: none;


}


.pricebox-back-img{
    max-width:60%;
    height:auto;

    display: block;
    margin-left: auto;
    margin-right: auto;


}

.pricebox-back-text{

    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;

    margin-top: 10px;
}

.pricebox-front{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left:0;

   z-index: 10;
}

.pricebox-table{
    height: 100%;
    width:100%;
    text-align: center;
}

.pricetable-title{
    height: 50px;
    background: rgba(13,11,11,0.9);

    text-transform: uppercase;
    font-size: 1.2em;
    font-family: hemi;

    display: inline-block;
    overflow:hidden !important;
    text-overflow: ellipsis;

    width: 100%;

}

.pricetable-title > td {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    line-height: 22px;
    height: 45px;

}


.pricebox-back > a{
   color:#D7C3AB;
   text-decoration: none;
}



.pricebox-priceborder{

}

.pricetable-subtitle{
    height: 30px;

    font-size: 1em;
    font-weight: bold;
    color: #D7C3AB;
    background: rgba(13,11,11,0.2);
}

.pricetable-price{
    height: 50px;
    font-size: 2.5em;
    color: #D7C3AB;
    background: rgba(13,11,11,0.2);
}

.pricetable-button{
    height: 50px;
    border-top: transparent;
    background: rgba(13,11,11,0.9);

    font-weight: bold;
    font-size: 1.1em;
}

.pricebox-back-table{
    width: 100%;
    height:100%;
    text-align: center;

}

.pricetable-back-title{
    height: 20px;
    background:rgba(115,88,66,0.5);
    color: #A38A70;
    font-weight: bold;
    text-transform: uppercase ;
}

.pricetable-back-subtitle{
    background:rgba(13,11,11,0.5);
}

.pricetable-back-price{
    font-weight: bold;
    color: #D7C3AB;
    font-size: 1.2em;
    background: rgba(13,11,11,0.2);
}
.pricetable-back-button{
     color: #A38A70;
    font-weight: bold;
    font-size: 1.4em;
    background:rgba(115,88,66,0.5);
}

.pricebox-row{
    margin-top: 19px;
}

.pricebox{
    height: 260px;
}







