.pricelist-container{
    margin-top:20px;


    height:540px;
}

.pricelist-nav{
    height: 60px;
    background: rgba(13,11,11,0.9);
}
.pricelist-navbar{
   height: 60px;
}
.pricelist-navbar > li > a{
    height: 60px;

    display: block;

    font-weight: bold;
    text-transform: uppercase;

    border-right: 1px solid rgba(0, 0, 0, 0.4);

}



.pricelist-navbar > li > a:hover{
    background-color: rgba(5,4,4,0.8);
    color:#ffffff;
}


.pricelist-content{
    margin-top:20px;
    background: rgba(13,11,11,0.9);
    height: 460px
}

.scrollbox{
    height: 350px;
    overflow: auto;
    width: 100%;

}
.vertical-track{
    margin:0px;
}

.tab-pane-title{

    margin-left: 10px;
    margin-right: 10px;

    padding-top:5px;


}

.nav-tabs > li > a{
    background: none ;
}

.nav-tabs > li > a:hover{
    background: #171313 ;
}

.pricelist-nav > ul > li > a:focus{
    background: rgba(5,4,4,0.8);
    outline: none;
}




.pricelist-secondnav{
    margin-left: 10px;
    margin-right: 10px;


    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.pricelist-secondnav > ul > li{

}


.pricelist-secondnav > ul > li > a{



}

.pricelist-secondnav > ul > li > a:hover{
    background: rgba(5,4,4,0.8);
}

.pricelist-secondnav > ul > li > a:focus{
    background: rgba(5,4,4,0.8) ;
    outline: none;
}

.pricelist-secondnav > ul > li > a:active{
    background: rgba(5,4,4,0.8) ;
    outline: none;
}

.pricelist-thirdnav{
    width:90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.thirdnav-tab-content{
   width:90%;
   margin-left: auto;
   margin-right: auto;
   height: 250px;
   background: rgba(5,4,4,0.8) ;
}

.pricelist-thirdnav > ul > li > a:hover{
    background: rgba(5,4,4,0.8); ;
}

.pricelist-thirdnav > ul > li > a:focus{
    background: rgba(5,4,4,0.8) ;
    outline: none;
}

.pricelist-thirdnav > ul > li > a:active{
    background: rgba(5,4,4,0.8) ;
    outline: none;
}


.active > a{
    background: rgba(5,4,4,0.8);
    color:#ffffff;
    outline: none;
    border-bottom: 2px solid #D7C3AB;
}

.pricelist-tab-info{
    margin-top: 20px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    text-decoration:underline ;

}

.table-container{
    padding-top: 60px;
}

.table{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.table > tbody > tr{
    width: 100%;
}

.table > tbody > tr > td{
    width: 50%;
    color:#D7C3AB;
}


.tbody{

}

.table-colored-rows > thead > tr > th{

    text-align: center;
}

.table-colored-rows > tbody > tr > td{
    border:none;

    text-align: center;
    font-size: 1.1em;
}

.table-colored-rows > tbody > tr:nth-child(2n+1){
    background: rgba(215,195,171,0.2);
}




@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;

  }
  .nav-justified > li > a  {

    margin-bottom: 0 !important;
  }
}

.pricelist-info{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5px;

    color: #D7C3AB;
}