.panels-container{
    margin-top:20px;
}

 /** panels */

.panel{
   border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;

   background: rgba(13,11,11,0.8);

   border:none;

}

.panel-group .panel{
   border-radius: 0px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body{
    border: none;
}

.panel-default > .panel-heading{
    background: rgba(13,11,11,0.8);

    border-bottom:3px solid #A38A70;

    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;


    font-weight: bold;
    font-size: 15px;

    text-transform: uppercase;
}

.panel-heading{
    padding: 0;
    height: 40px;
}
.panel-title {

    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 15px;
    color: #D7C3AB;
    text-transform: uppercase;
}

.panel-title > a{

    display: inline-block;
    width:100%;
    height: 100%;
    padding: 0;
    line-height: 40px;
    padding-left: 10px;

}

a {
   outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}


 /** Title */

.page-header{
    padding:0;
    margin:0;
}

/** Table */
.table > thead > tr > th {
    border-bottom: none;
}

.table > tbody > tr > td{
    border-top: none;
}

tr th {
  width: 14%;
  border-color: #D7C3AB;
  border-left: 1px solid #D7C3AB;
  border-right: 1px solid #D7C3AB;

  text-align: center;
  text-decoration: underline;
}

tr td {
  width: 14%;
  border-top: none;
  border-left: 1px solid #D7C3AB;
  border-right: 1px solid #D7C3AB;

  color:#D7C3AB;
  text-align: center;
}

.table > thead{

}

@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;

  }
  .nav-justified > li > a  {


    margin-bottom: 0 !important;
  }
}

