{% extends "main.html" %}


{% block extra_head_content %}
    <link href="/static/css/webpage/custompage1.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12 ">

                <div class="image-container">
                <img height="260px" width="100%" src="{{ MEDIA_URL }}{{ custompage.image_background.imageDestination }}" alt="img" />
                <div class="flex-caption-overlay">
                    <div class="flex-caption-overlay-title">{{ custompage.title }}</div>
                    <div class="flex-caption-overlay-text">{{ custompage.subtitle }}</div>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <div class="text-container scrollbox">
                <div class="text-container-content ">
                    {{ custompage.content | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script_content %}
    <script src="/static/javascript/enscroll-0.6.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.scrollbox').enscroll({
                    showOnHover: false,
                    verticalTrackClass: 'track',
                    verticalHandleClass: 'handle'
            });
        });
    </script>
{% endblock %}