{% extends "main.html" %}

{% block extra_head_content %}
    <!-- FlexSlide CSS -->
    <link href="/static/css/flipBox.css" rel="stylesheet">

    <link href="/static/css/flexslider.css" rel="stylesheet">

    <link href="/static/css/webpage/fitnes.css" rel="stylesheet">


{% endblock %}

{% block main_content %}
    <div class="fitnes-conteiner">
        <div class="row">
            <div class="col-lg-8 margin-fix">
                <div class="page-header">
                   <h3>FITNES
                      <small>vadba</small>
                   </h3>
                </div>
                <p id='scrollbox' class="owerflow-fix  ">

                    Poteka na površini 200m². Telovadnica je opremljena z orodji in trenažerji svetovno priznane firme TECHNOGYM in kar s 13. kardio napravami znamke AIR MACHINE in TUNTURI.
                    <br/>
                    <br/>
                    Fitnes inštruktor vas z veseljem popelje od naprave do naprave in vas pouči o pravilni izvedbi vaj na posameznem orodju. Naš cilj je, da se v našem fitnesu trenira kvalitetno in brez poškodb.
                    <br/>
                    <br/>
                    Vsem, ki si to želijo, izdelamo vadbeni program, glede na njihove želje in potrebe (hujšanje, pridobivanje mišične mase, kondicija) in to brezplačno.
                </p>
            </div>
            <div class="col-lg-4">


            </div>
        </div>
        <div class="row pricebox-row">
            <div class="col-xs-3 col-md-3 col-lg-3">
                  <div class="pricebox-container">
                    <div class="pricebox-front">
                        <table class="pricebox-table">
                            <tr class="pricetable-title">
                                <td>1 MESEČNA</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">35€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle pricebox-priceborder">Dopoldanska karta</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price ">45€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle">Celodnevna karta</td>
                            </tr>

                            <tr>
                                <td class="pricetable-button">VEČ INFORMACIJ</td>
                            </tr>
                        </table>


                    </div>
                    <div class="pricebox-back">

                              <table class="pricebox-back-table">

                                    <tr>
                                        <td class="pricetable-back-title">Dopoldanska karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-title">Celodnevna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-button">CENIK</td>
                                    </tr>
                              </table>

                    </div>
                  </div>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                <div class="pricebox-container">
                    <div class="pricebox-front">
                        <table class="pricebox-table">
                            <tr class="pricetable-title">
                                <td>1 MESEČNA</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">35€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle pricebox-priceborder">Dopoldanska karta</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">45€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle">Celodnevna karta</td>
                            </tr>

                            <tr>
                                <td class="pricetable-button">VEČ INFORMACIJ</td>
                            </tr>
                        </table>


                    </div>
                    <div class="pricebox-back">
                             <table class="pricebox-back-table">

                                    <tr>
                                        <td class="pricetable-back-title">Dopoldanska karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-title">Celodnevna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-button">CENIK</td>
                                    </tr>
                              </table>
                    </div>
                  </div>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                <div class="pricebox-container">
                    <div class="pricebox-front">
                        <table class="pricebox-table">
                            <tr class="pricetable-title">
                                <td>1 MESEČNA</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">35€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle pricebox-priceborder">Dopoldanska karta</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">45€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle">Celodnevna karta</td>
                            </tr>

                            <tr>
                                <td class="pricetable-button">VEČ INFORMACIJ</td>
                            </tr>
                        </table>


                    </div>
                    <div class="pricebox-back">
                             <table class="pricebox-back-table">

                                    <tr>
                                        <td class="pricetable-back-title">Dopoldanska karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-title">Celodnevna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-button">CENIK</td>
                                    </tr>
                              </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                <div  class="pricebox-container">
                    <div class="pricebox-front">
                        <table class="pricebox-table">
                            <tr class="pricetable-title">
                                <td>1 MESEČNA</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">35€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle pricebox-priceborder">Dopoldanska karta</td>
                            </tr>
                            <tr>
                                <td class="pricetable-price">45€</td>
                            </tr>
                            <tr>
                                <td class="pricetable-subtitle">Celodnevna karta</td>
                            </tr>

                            <tr>
                                <td class="pricetable-button">VEČ INFORMACIJ</td>
                            </tr>
                        </table>


                    </div>
                    <div class="pricebox-back">
                             <table class="pricebox-back-table">

                                    <tr>
                                        <td class="pricetable-back-title">Dopoldanska karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-title">Celodnevna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Navadna karta</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-subtitle">Študentje dijaki upokojenci</td>
                                    </tr>
                                    <tr>
                                        <td class="pricetable-back-price ">45€</td>
                                    </tr>


                                    <tr>
                                        <td class="pricetable-back-button">CENIK</td>
                                    </tr>
                              </table>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script_content %}
    <!-- flexSlider --->
    <script src="/static/javascript/jquery.flexslider-min.js"></script>
    <script src="/static/javascript/enscroll-0.6.1.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
       $(document).ready(function(){
             $('.flexslider').flexslider({
                animation: "slide"

              });

        });
       $(document).ready(function(){
            $('#bodyDiv, #scrollbox').enscroll({
                    showOnHover: false,
                    verticalTrackClass: 'track',
                    verticalHandleClass: 'handle'
            });
        });

        $(document).ready(function(){

            $('.pricebox-container').click( function(){
                $($(this).children().first()).animate({
                        height:'toggle'
                      });
                $($(this).children().last()).fadeToggle( "fast");
            })
        });

    </script>
{% endblock %}