{% extends "main.html" %}

{% block nav-domov %}menu-list-active{% endblock %}

{% block extra_head_content %}

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- FlexSlide CSS -->

    <link href="/static/css/flexslider.css" rel="stylesheet">

    <link href="/static/css/webpage/home.css" rel="stylesheet">

{% endblock %}
{% block load_screen %}
    <div class="load-screen">
            <i class="fa fa-5x fa-spinner fa-pulse"></i>
    </div>
{% endblock %}
{% block main_content %}
    <div class="flexslider-fix-height ">
        <div class="flexslider ">
            <ul class="slides">
                {% for news in news %}
                    <li>
                        <img src="{{ MEDIA_URL }}{{ news.image_background.imageDestination }}" />
                        <div class="flex-caption-overlay">
                            <div class="flex-caption-overlay-title">{{ news.title }}</div>
                            <div class="flex-caption-overlay-text">{{ news.subtitle }}</div>
                            <div class="flex-caption-overlay-button"><a href="/novice/{{ news.page_link.id }}">Več informacij</a></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block extra_script_content %}
    <script>
        $(window).load(function(){
            $(".load-screen").hide()
            $(".main-container").show()
        });
    </script>

    <!-- flexSlider --->
    <script src="/static/javascript/jquery.flexslider-min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
       $(document).ready(function(){
             $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false
              });

        });


    </script>
{% endblock %}