{% extends "main.html" %}

{% block extra_head_content %}

    <link href="/static/css/webpage/pricelist.css" rel="stylesheet">


{% endblock %}

{% block main_content %}

    <div class="pricelist-container">


        <div class="pricelist-nav">
            <ul class="nav nav-justified pricelist-navbar visible-lg visible-md visible-sm">
              {% for exercise in exercises %}
                 <li id="{{ exercise.id }}" class="pricelist-tab {% if active_id == exercise.id %}active{% endif %}"><a  href="#tab_{{ exercise.id }}" data-toggle="tab">{{ exercise.name }}</a></li>
              {% endfor %}
            </ul>
        </div>


        <div class="pricelist-content col-lg-12">
            <div class="tab-content ">
                    {% for exercise in exercises %}
                        <div class="tab-pane {% if active_id == exercise.id %}active{% endif %}" id="tab_{{ exercise.id }}">

                            <div class="tab-pane-title">
                               <h3>CENIK
                                  <small>{{ exercise.name }}</small>
                               </h3>
                            </div>
                            <div class="pricelist-secondnav visible-lg visible-md visible-sm">
                                <ul class="nav nav-justified " role="tablist">
                                  {% for pricing_plan in pricing_plans %}
                                      {% if pricing_plan.exercisesID.id == exercise.id %}
                                           <li class=""><a href="#tab_prcing_plan_{{ pricing_plan.id }}" role="tab" data-toggle="tab">{{ pricing_plan.name }}</a></li>
                                      {% endif %}
                                  {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-content">
                                  {% for pricing_plan in pricing_plans %}
                                      {% if pricing_plan.exercisesID.id == exercise.id %}
                                          <div class="tab-pane" id="tab_prcing_plan_{{ pricing_plan.id }}">
                                              <div class="pricelist-tab-info">
                                                    Karta je veljavna med delavniki med 8:00 in 13:00 uro in med 16:00 in 23:30 uro.
                                              </div>
                                              <table class="table table-colored-rows ">
                                                    <tbody>
                                                        {% for price in prices %}
                                                            {% if price.pricingPlanID.id == pricing_plan.id %}
                                                                <tr>
                                                                    <td>{{ price.description }}</td>
                                                                    <td>{{ price.customerTypeID.description }}</td>
                                                                    <td>{{ price.price }} {{ price.priceUnit }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                              </table>
                                          </div>
                                      {% endif %}
                                  {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script_content %}
    <script src="/static/javascript/enscroll-0.6.1.min.js"></script>
    <script>

        $(document).ready(function(){
            $('.scrollbox').enscroll({
                    showOnHover: false,
                    verticalTrackClass: 'track',
                    verticalHandleClass: 'handle'
            });
        });

    </script>
{% endblock %}