{% extends "main.html" %}
{% load filter_tag %}
{% block nav-cenik %}menu-list-active{% endblock %}
{% block extra_head_content %}
    <link href="/static/css/webpage/pricelist.css" rel="stylesheet">
{% endblock %}

{% block main_content %}

    <div class="pricelist-container">


        <div class="pricelist-nav">
            <ul id="temp" class="nav nav-justified pricelist-navbar visible-lg visible-md visible-sm">
              {% for exercise in exercises %}
                 <li  class="pricelist-tab {% if forloop.first %}active{% endif %}"><a id="exercise_tab_{{ exercise.id }}"  href="#tab_{{ exercise.id }}" data-toggle="tab">{{ exercise.name }}</a></li>
              {% endfor %}
            </ul>
        </div>


        <div class="pricelist-content col-lg-12">
            <div class="tab-content ">
                    {% for exercise in exercises %}
                        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_{{ exercise.id }}">

                            <div class="tab-pane-title">
                               <h3>CENIK
                                  <small>{{ exercise.name }}</small>
                               </h3>
                            </div>
                            <div class="pricelist-secondnav visible-lg visible-md visible-sm">
                                <ul class="nav nav-justified " role="tablist">
                                  {% for pricing_plan in pricing_plans|in_pricing_plans:exercise %}
                                        <li class="{% if forloop.first %}active{% endif %}"><a id="prcing_plan_tab_{{ pricing_plan.id }}" href="#tab_prcing_plan_{{ pricing_plan.id }}" role="tab" data-toggle="tab">{{ pricing_plan.name }}</a></li>
                                  {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-content">
                                  {% for pricing_plan in pricing_plans|in_pricing_plans:exercise %}

                                          <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_prcing_plan_{{ pricing_plan.id }}">

                                               {% if pricing_plan.show_customer_type %}
                                                   <div class="pricelist-thirdnav visible-lg visible-md visible-sm">
                                                        <ul class="nav nav-justified " role="tablist">
                                                            {% for customer_type in customer_types %}
                                                                 <li class="{% if forloop.first %}active{% endif %}"><a  href="#tab_customer_type_{{ customer_type.id }}_{{ pricing_plan.id }}" role="tab" data-toggle="tab">{{ customer_type.description }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                   </div>
                                                    <div class="tab-content thirdnav-tab-content">
                                                          {% for customer_type in customer_types %}
                                                                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_customer_type_{{ customer_type.id }}_{{ pricing_plan.id }}">
                                                                     <div class="row table-container">
                                                                         <table class="table table-colored-rows ">
                                                                            <tbody>
                                                                                {% for price in prices %}
                                                                                    {% if price.pricingPlanID.id == pricing_plan.id and price.customerTypeID.id == customer_type.id %}
                                                                                        <tr>
                                                                                            <td>{{ price.description }}</td>

                                                                                            <td>{{ price.price }} {{ price.priceUnit }}</td>
                                                                                        </tr>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                     </div>
                                                                </div>
                                                          {% endfor %}
                                                    </div>
                                               {% else %}
                                                   <div class="row table-container">

                                                         <table class="table table-colored-rows ">
                                                            <tbody>
                                                                {% for price in prices %}
                                                                    {% if price.pricingPlanID.id == pricing_plan.id %}
                                                                        <tr>
                                                                            <td>{{ price.description }}</td>
                                                                            <td>{{ price.price }} {{ price.priceUnit }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                   </div>
                                               {% endif %}
                                          <div class="pricelist-info">{% if pricing_plan.info %}{{ pricing_plan.info }}{% endif %}</div>
                                          </div>
                                  {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script_content %}
    <script src="/static/javascript/enscroll-0.6.1.min.js"></script>
    <script>

        $(document).ready(function(){

            var active_tabs = document.location.hash.split('#')
            if(active_tabs.length == 1){


            }else if(active_tabs.length == 3){
                var tab1 = "#"+active_tabs[1]
                var tab2 = "#"+active_tabs[2]

                $(tab1).tab('show');
                $(tab2).tab('show');
            }


            $('.scrollbox').enscroll({
                    showOnHover: false,
                    verticalTrackClass: 'track',
                    verticalHandleClass: 'handle'
            });
        });

    </script>
{% endblock %}