{% extends "main.html" %}

{% block extra_head_content %}
    <!-- FlexSlide CSS -->

    <link href="/static/css/flexslider.css" rel="stylesheet">

    <link href="/static/css/webpage/questions.css" rel="stylesheet">

    <link href="/static/css/magnific-popup.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="question-conteiner col-lg-12">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                  <label for="name">Ime in priimek:</label>
                  {{ question_form.name }}
                  {{ question_form.name.errors }}
                </div>
                <div class="form-group">
                  <label for="email">E-poštni naslov</label>
                  {{ question_form.email }}
                  {{ question_form.email.errors }}


                </div>
                <div class="form-group">
                  <label for="text">Vprašanje:</label>
                  {{ question_form.text }}
                  {{ question_form.text.errors }}
                </div>

                <button type="submit" class="btn btn-default ">POŠLJI</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_script_content %}
{% endblock %}