{% extends "main.html" %}

{% block extra_head_content %}
    <!-- FlexSlide CSS -->

    <link href="/static/css/flexslider.css" rel="stylesheet">

    <link href="/static/css/webpage/suboffers.css" rel="stylesheet">

    <link href="/static/css/magnific-popup.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="gallery-conteiner row">

            <div class="scrollbox ">
                <div class="gallery-wrapper-row">
                    {% for image in images %}
                        {% if images.count > 4 %}
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <a href="/ponudba/{{ image.exercisesID.id }}" class="img-overlay">
                                     <img src="{{ MEDIA_URL }}{{ image.imageDestination }}" class="gallery-conteiner-img">
                                     <div class="gallery-conteiner-img-title">{{ image.exercisesID.name }}</div>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <a href="/ponudba/{{ image.exercisesID.id }}" class="img-overlay-lg">
                                     <img src="{{ MEDIA_URL }}{{ image.imageDestination }}" class="gallery-conteiner-img-lg">
                                     <div class="gallery-conteiner-img-title">{{ image.exercisesID.name }}</div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

    </div>
{% endblock %}

{% block extra_script_content %}
    <!-- flexSlider --->
    <script src="/static/javascript/jquery.magnific-popup.min.js"></script>
    <script src="/static/javascript/enscroll-0.6.1.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>

       $(document).ready(function(){
           $(".gallery-conteiner-img,.gallery-conteiner-img-lg").hover(
               function(){
                  $(this).fadeTo("slow" , 1);
                },
                function(){
                    $(this).fadeTo("slow" , 0.5);
                }
           )



            $('.scrollbox').enscroll({
                    showOnHover: true,
                    verticalTrackClass: 'track',
                    verticalHandleClass: 'handle'

            });
        });


    </script>
{% endblock %}