{% extends "main.html" %}
{% block nav-urnik %}menu-list-active{% endblock %}
{% block extra_head_content %}
    <link rel='stylesheet' href='/static/fullcalendar/fullcalendar.css' xmlns="http://www.w3.org/1999/html"/>
    <link href="/static/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet">


    <link href="/static/css/webpage/timetable.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet">

    <link href="/static/css/jquery.qtip.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="row panels-container">
        <div class="col-lg-12 grad">
            <div class="panel panel-default align panel-main">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        URNIK
                    </h4>
                </div>
                <div id="collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                            <table class="table">
                                {% for weekDay in all_weekday %}

                                        {% if weekDay.id == 1 %}
                                                <thead>
                                                <tr>
                                                    <th>{{ weekDay.name }}</th>
                                        {% elif weekDay.id == 7 %}
                                                    <th>{{ weekDay.name }}</th>
                                                </tr>
                                                </thead>
                                        {% else %}
                                            <th>{{ weekDay.name }}</th>
                                        {% endif %}

                                {%  endfor %}
                                <tbody>
                                    <tr>
                                        {% for weekDay in all_weekday %}

                                                <td>
                                                    {% for timetables in all_timetables %}
                                                        {% if weekDay == timetables.weekDay %}
                                                                <div class="panel-table-data-container">
                                                                    <div class="panel-table-data-title">{{ timetables.exercisesID.name }}</div>
                                                                    <div class="panel-table-data numbers">{{ timetables.timeFrom|time:"G:i" }} - {{ timetables.timeTo|time:"G:i" }}</div>
                                                                    <div class="panel-table-data-separator"></div>
                                                                </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>

                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>

            <div class="panel panel-default align panel-mobile">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        URNIK <div class="urnik-text-mobile">Premakni urnik v desno !</div>
                    </h4>
                </div>

                <div id="collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table-mobile ">
                                <tbody>
                                    {% for weekDay in all_weekday %}
                                        <tr>
                                            <th>
                                                {{ weekDay.name }}
                                            </th>
                                            {% for timetables in all_timetables %}
                                               {% if weekDay == timetables.weekDay %}
                                                    <td>
                                                        <div class="panel-table-data-container">
                                                            <div class="panel-table-data-title-mobile">{{ timetables.exercisesID.name }}</div>
                                                            <div class="panel-table-data-mobile">{{ timetables.timeFrom|time:"G:i" }} - {{ timetables.timeTo|time:"G:i" }}</div>
                                                            <div class="panel-table-data-separator-mobile"></div>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block extra_script_content %}
    <script>

    </script>
{% endblock %}