.fancy-box-popout{
    display: none;
    position: absolute;
    top:0;
    left: 0;

    width: 100%;
    height: 1080px;

    background: rgba(0,0,0,0.9);

    z-index: 5;


}

.fancy-box-popout-container{
    position: absolute;
    top: 122px;

    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;

    width: 800px;


    background: rgba(13, 11, 11, 0.98);

    z-index: 6;

}

.fancy-box-popout-container-close{
    position: absolute;

    right: 15px;
    top: 15px;

    color: white;
}

.fancy-box-popout-container-title h1{
    margin-left: 40px;
    color: #D7C3AB;
}

.fancy-box-popout-container-text{

   font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
   padding-left: 20px;

   width: 770px;

}

.fancy-box-popout-container-text > ul {
    margin-top: 20px;
}

.fancy-box-popout-container-text > ul >li{
    margin-top: 5px;
}

.fancy-box-popout-container-text > h2 {
    margin-left: 20px;
    font-size: 1.4em;

    color: white;

    border-bottom: 1px solid white;

    font-family: hemi;
}

.scrollbox2 {
    overflow: auto; /* This is changed by enscroll, but must be defined */

    width: 800px;
}
.vertical-track {
    width: 16px; /* How wide is the scrollbar going to be? */
    background-color: #aaa; /* What color should the vertical track be? */
}
.vertical-handle {
    width: 16px; /* How wide is the scrollbar handle? */
    background-color: #aaf; /* What color should the handle be? */
}

.img-nav-right{
    margin-top: 20px;

}

.img-nav-left{
    margin-top: 20px;


}

.img-nav-images{
    height: 120px;
    width: 100%;
}

body{
    background: url("/static/img/fitness.jpg") no-repeat center top;
    background-color: rgb(0, 0, 0);
    font-family: hemi;

}

.numbers{
    font-weight: bold;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.navbar {

    background: rgba(13, 11, 11, 0.9);
}

.navbar-brand{


    font-size: 4.5em;
    height: 80px;
    line-height: 65px;
    font-family:hemi;

    text-shadow: 0 0 2px #735842,

             -1px -1px 0 hsla(0, 8%, 5%, 1),

             -2px -2px 1px hsla(0, 8%, 5%, 1),

             -2px -2px 2px hsla(0, 8%, 5%, 1);
}

@media (max-width: 1500px) {
  .navbar-brand{
    font-size: 3em;
  }
}



@media (max-width: 560px) {
  .navbar-brand{
    font-size: 2.3em;
  }
}

@media (max-width: 470px) {
  .navbar-brand{
    font-size: 1.6em;
  }
}


@media (max-width: 370px) {
  .navbar-brand{
    font-size: 1.3em;

  }
}

.navbar-brand > small{
    font-size: 0.6em;
    margin-left: 10px;
}

.navbar-brand > img {
    padding-top: 0px;
    height: 75px;

}

.navbar-collapse-button{
    margin-top:30px;

}

.nav-brand-img{
    height: 75px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.nav-fix{
    text-transform: uppercase;
    font-size: 1.5em;


    padding-top:30px;
    margin-right:25px;
}

.menu-list > li > a{
    font-size: 1.2em;
    font-family:hemi;
    border-left: 1px solid #171414;
    border-bottom: 2px solid transparent;
}


.menu-list > li >a:hover{

    border-bottom: 2px solid #D7C3AB;

}

.menu-list-active{
    border-bottom: 2px solid #ffffff !important;
    color: #ffffff !important;
}



.container-fluid{


}

.jm-item {
    padding: 0px;
    display: inline-block;
    text-align: left;
}
.jm-item-wrapper {
	position: relative;

}
/*** CSS styles of the image and its container: *****/



/*** CSS styles of the title container: ***/



.jm-item-title {
    position: absolute;

    bottom: 17px;
    background: rgba(13,11,11,0.9);
    line-height: 25px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    text-transform: uppercase;
    font-family: hemi;
    color: #D7C3AB;
    font-size: 1.7em;

    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
}



.jm-item-title-left{
    left: -10px;

}

.jm-item-title-right{
    right: -10px;

}

.nav-left-mobile{
    position: relative;

    height: 120px;
    width: 30px;
    margin-top:20px;


    background: rgba(13, 11, 11, 0.7);

}

.nav-left-mobile-text{
    position: absolute;
    bottom: 40px;
    left:0;



    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: none; /*Mandatory for IE9 to show the vertical text correctly*/
}

.nav-right-mobile{
    position: relative;

    height: 120px;
    width: 30px;
    margin-top:20px;


    background: rgba(13, 11, 11, 0.7);

}


/*** CSS styles of the span element: ***/

.jm-item-overlay {
	background: #000;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition: opacity 0.5s ease-in 0s;
	transition: opacity 0.5s ease-in 0s;
}
.jm-item-wrapper:hover .jm-item-overlay {
	opacity: 0.5;
}




.box{

    margin-top:20px;
    height:210px;
    background-color: rgba(13,11,11,0.7);

}

.box-title{

    border-bottom: 1px solid #D7C3AB;
    width: 90%;
    padding-top:10px;

    margin-right: auto;
    margin-left: auto;

    font-family: hemi;
    text-transform: uppercase;
    color:  #D7C3AB;
    font-size:1.4em
}

.box-content{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.box-subtitle{
    width: 100%;
    text-align: center;
    color: #D7C3AB;
    font-size: 1.1em;
    font-family: hemi;

    text-transform: uppercase;
    background: rgba(163,138,112,0.2);
}


.box-data{
   width: 100%;
   text-align: center;
   font-size: 1.1em;
   font-family: hemi;

}

.box-data > span{
    margin-left: 20px;
    color: #D7C3AB;

}

.box > table{
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box > table > tbody > tr > td{
    text-align: left;
    color: #D7C3AB;
    width: 70%;
}

.box > table > thead > tr > th{
    width: 70%;
    text-align: left;
    text-transform: uppercase;
}

.box > table > thead > tr > td{
    width: 30%;
}

.box > table > tbody > tr > th{


    width: 30%;
}



/******** custom scroll CSS *******/

#scrollbox {
    overflow: auto;

}

.track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track:hover,
.track.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track:hover .handle,
.track.dragging .handle {
    width: 10px;
}


/**** MENU ZA MOBILNE NAPRAVE *****/

/* General styles for all menus */

.cbp-spmenu {

    position: fixed;
}

.cbp-spmenu h3 {
    color: #A38A70;
    font-size: 1.9em;
    font-family: hemi;
    text-transform: uppercase;

    margin: 0;
    font-weight: 300;
    background: rgba(13,11,11, 0.9);
    padding: 30px;
    height: 83px;

    border-bottom: 1px solid black;
}

.side-menu-logo{
    background: rgba(13,11,11, 0.9);

    height: 81px;

    border-bottom: 1px solid black;
}


.side-menu-img{
    padding-left: 10px;
    padding-top: 5px;
}

.cbp-spmenu a {
    display: block;
    color: #D7C3AB;
    font-size: 1.2em;
    font-weight: 300;
    background: rgba(13,11,11, 0.7);
    font-family: hemi;
    text-transform: uppercase;
}


.cbp-spsubmenu{

    display: block;
    color: #D7C3AB;
    font-size: 1em !important;

    text-align: center;
    border-top:1px solid rgb(163,138,112);
    font-family: hemi;
    text-transform: uppercase;
}



.cbp-spmenu a:hover {

    text-decoration: none;
}

.cbp-spmenu a:active {

    text-decoration: none;

}

.cbp-spmenu a:focus{

    text-decoration: none;
    outline: 0;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;

    overflow-x: auto;
}

.cbp-spmenu-vertical a {

    padding: 1em;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* INFO BAR*/

.alert {
   margin-bottom: 0px;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;


    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

/***** KONEC *****/




@font-face {
    font-family:'hemi'; /*a name to be used later*/

    src: url('/static/fonts/2D5956_0_0.eot');
    src: url('/static/fonts/2D5956_0_0.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/2D5956_0_0.woff2') format('woff2'),
         url('/static/fonts/2D5956_0_0.woff') format('woff'),
         url('/static/fonts/2D5956_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

    .fancy-box-popout-container{
        left: 5%;
    }
}

@media (max-width: 850px){
   .fancy-box-popout-container{
        width: 350px;
        left: 1%;
    }

    .fancy-box-popout-container-text{
       width: 320px;

       overflow-x: scroll;
    }

    .scrollbox2{
        width: 350px !important;
    }

    .fancy-box-popout-container-title h1{
      font-size: 1.2em;
    }
}