.img-nav-right{
    margin-top: 20px;

}

.img-nav-left{
    margin-top: 20px;
    margin-right:-15px;

}

.img-nav-images{
    height: 120px;
    width: 230px;
}

body{
    background: url("/static/img/fitness.jpg") no-repeat center top;
    background-color: rgb(0, 0, 0);
    font-family: ubuntu-m;

}

.navbar {

    background: rgba(13, 11, 11, 0.9);
}

.navbar-brand{


    font-size: 4.5em;
    height: 80px;
    line-height: 65px;
    font-family:hemi;

    text-shadow: 0 0 2px #735842,

             -1px -1px 0 hsla(0, 8%, 5%, 1),

             -2px -2px 1px hsla(0, 8%, 5%, 1),

             -2px -2px 2px hsla(0, 8%, 5%, 1);
}

@media (max-width: 1500px) {
  .navbar-brand{
    font-size: 3em;
  }
}

.navbar-brand > small{
    font-size: 0.6em;
    margin-left: 10px;
}

.navbar-brand > img {
    padding-top: 0px;
    height: 75px;

}

.nav-brand-img{
    height: 75px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.nav-position{
    text-transform: uppercase;
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    right: 0;

    height: 80px;
}

.menu-list > li > a{
    font-size: 1.2em;
    font-family:hemi;
    border-left: 1px solid #171414;
    border-bottom: 2px solid transparent;
}


.menu-list > li >a:hover{

    border-bottom: 2px solid #D7C3AB;

}

.menu-list-active{
    border-bottom: 2px solid #ffffff !important;
    color: #ffffff !important;
}



.container-fluid{


}

.jm-item {
    padding: 0px;
    display: inline-block;
    text-align: left;
}
.jm-item-wrapper {
	position: relative;

}
/*** CSS styles of the image and its container: *****/



/*** CSS styles of the title container: ***/



.jm-item-title {
    position: absolute;

    bottom: 17px;
    background: rgba(13,11,11,0.9);
    line-height: 25px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    text-transform: uppercase;
    font-family: hemi;
    color: #D7C3AB;
    font-size: 1.7em;

    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
}



.jm-item-title-left{
    left: -10px;

}

.jm-item-title-right{
    right: -10px;

}
/*** CSS styles of the span element: ***/

.jm-item-overlay {
	background: #000;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition: opacity 0.5s ease-in 0s;
	transition: opacity 0.5s ease-in 0s;
}
.jm-item-wrapper:hover .jm-item-overlay {
	opacity: 0.5;
}




.box{

    margin-top:20px;
    height:210px;
    background-color: rgba(13,11,11,0.7);
    min-width: 320px;
}

.box-title{

    border-bottom: 1px solid #D7C3AB;
    width: 90%;
    padding-top:10px;

    margin-right: auto;
    margin-left: auto;

    font-family: hemi;
    text-transform: uppercase;
    color:  #D7C3AB;
    font-size:1.4em
}

.box-content{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.box-subtitle{
    width: 100%;
    text-align: center;
    color: #D7C3AB;
    font-size: 1.3em;
    font-family: hemi;

    text-transform: uppercase;
    background: rgba(163,138,112,0.2);
}


.box-data{
   width: 100%;
   text-align: center;
   font-size: 1.1em;
   font-family: hemi;

}

.box-data > span{
    margin-left: 20px;
    color: #D7C3AB;

}

.box > table{
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box > table > tbody > tr > td{
    text-align: left;
    color: #D7C3AB;
    width: 70%;
}

.box > table > thead > tr > th{
    width: 70%;
    text-align: left;
    text-transform: uppercase;
}

.box > table > thead > tr > td{
    width: 30%;
}

.box > table > tbody > tr > th{


    width: 30%;
}



/******** custom scroll CSS *******/

#scrollbox {
    overflow: auto;

}

.track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track:hover,
.track.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track:hover .handle,
.track.dragging .handle {
    width: 10px;
}



@font-face {
    font-family: 'boycott'; /*a name to be used later*/
    src: url('/static/fonts/BOYCOTT_.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ubuntu-b'; /*a name to be used later*/
    src: url('/static/fonts/Ubuntu-B.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ubuntu-m'; /*a name to be used later*/
    src: url('/static/fonts/Ubuntu-M.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ubuntu-l'; /*a name to be used later*/
    src: url('/static/fonts/Ubuntu-L.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'oregon'; /*a name to be used later*/
    src: url('/static/fonts/Oregon-LDO.ttf'); /*URL to font*/
}

@font-face {
    font-family:'sofa'; /*a name to be used later*/
    src: url('/static/fonts/sofachromerg.ttf'); /*URL to font*/
}

@font-face {
    font-family:'ethno'; /*a name to be used later*/
    src: url('/static/fonts/ethnocentricrg.ttf'); /*URL to font*/
}

@font-face {
    font-family:'hemi'; /*a name to be used later*/
    src: url('/static/fonts/hemiheadbdit.ttf'); /*URL to font*/
}

