
<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{% block head_title %}Fitnes studio Peter Klepec{% endblock head_title %}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/static/css/custom/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
         <link href="/static/css/modern-business.css" rel="stylesheet">


        {% block extra_head_content %}{% endblock %}

        <!-- Custom CSS -->
        <link href="/static/css/style.css" rel="stylesheet">




	<body>
        <!-- Navigation -->
        <nav class="navbar  navbar-default navbar-fixed-top transparent" role="navigation">

            <div class=" container-padding-fix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand nav-brand-img">
                        <img class="" src="/static/img/logo_peterklepec.png" alt="logo"/>
                    </a>
                    <a class="navbar-brand" href="/">
                        <span style="color: #735842">PETER</span><span style="color:#D7C3AB">KLEPEC</span><small><span style="color: #D7C3AB">FITNES</span><span style="color:#735842">STUDIO</span></small>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-position" id="bs-example-navbar-collapse-1">
                    <ul  class="nav navbar-nav menu-list ">
                        <li>
                            <a class ="{% block nav-domov %}{% endblock %}" href="/">Domov</a>
                        </li>

                        <li>
                            <a class ="{% block nav-cenik %}{% endblock %}" href="/cenik/">Cenik</a>
                        </li>
                        <li>
                            <a class ="{% block nav-urnik %}{% endblock %}" href="/urnik/1">Urniki</a>
                        </li>
                        <li>
                            <a class ="{% block nav-informacije %}{% endblock %}" href="/informacije/">O nas</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Header Carousel -->

        <!-- Page Content -->
        <div class="container-fluid">

                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">

                        <!-- Left navigation images -->

                        <div class="col-lg-2 visible-lg">
                            {% for image in leftMenuImages %}
                                <div class="row pull-right img-nav-left jm-item first ">
                                    <div class="jm-item-wrapper">
                                        <div class="jm-item-image">
                                            <a class="menuItem" href="/ponudba/{{ image.exercisesID.id }}">
                                                <img src="{{ MEDIA_URL }}{{ image.imageDestination }}" class="img-nav-images"/>
                                                <span class="jm-item-overlay "> </span>
                                            </a>
                                        </div>
                                        <div class="jm-item-title jm-item-title-left">{{ image.exercisesID.name }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Banner -->
                        <div class="col-lg-8 col-xs-12 ">
                            {% block main_content %}{% endblock %}
                        </div>
                        <!-- Right navigation images -->
                        <div class="col-lg-2 visible-lg">
                            {% for image in rightMenuImages %}
                                <div class="row img-nav-right jm-item first ">
                                    <div class="jm-item-wrapper">
                                        <div class="jm-item-image">
                                            <a href="/ponudba/{{ image.exercisesID.id }}">
                                                <img src="{{ MEDIA_URL }}{{ image.imageDestination }}"  class="img-nav-images"/>
                                                <span class="jm-item-overlay "> </span>
                                            </a>
                                        </div>
                                        <div class="jm-item-title jm-item-title-right">{{ image.exercisesID.name }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="box">
                                <div class="box-title">Trenutno na urniku</div>

                                <div class="box-container">
                                    <div class="box-content">
                                        <div class="box-subtitle">Fitnes:</div>
                                        {% if fitness_working_hours %}
                                            {% for  fitness_working_hour in fitness_working_hours %}
                                                   <div class="box-data">Odprto<span>{{ fitness_working_hour.timeFrom|time:'H:i'}} - {{ fitness_working_hour.timeTo|time:'H:i' }}</span></div>
                                            {% endfor %}
                                        {% else%}
                                            <div class="box-data">Zaprto</div>
                                        {% endif %}

                                        {% if exercises_working_hours %}
                                            <div class="box-subtitle">Vadbe:</div>
                                            {% for  exercises_working_hour in exercises_working_hours %}
                                                <div class="box-data">{{ exercises_working_hour.exercisesID.name }}<span>{{ exercises_working_hour.timeFrom|time:'H:i'}} - {{ exercises_working_hour.timeTo|time:'H:i' }}</span></div>
                                            {% endfor %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box ">
                                <div class="box-title">Delovni čas</div>
                                <div class="box-container">
                                    <div class="box-content">
                                        <div class="box-subtitle" >Ponedeljek - Petek</div>
                                        <div class="box-data">Dopoldan:<span>8:00 - 13:00</span></div>
                                        <div class="box-data">Popoldan:<span>16:00 - 22:30</span></div>

                                        <div class="box-subtitle">Nedelja</div>
                                        <div class="box-data">Popoldan:<span>16:00 - 22:00 </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box">
                                <div class="box-title">Kontakti</div>
                                <div class="box-container">
                                    <div class="box-content">
                                        <div class="box-subtitle" style="font-size: 1.1em">Telefon</div>
                                        <div class="box-data"><span>01/756 50 23</span></div>


                                        <div class="box-subtitle" style="font-size: 1.1em">Mobitel:</div>
                                        <div class="box-data"><span>041 972 169</span></div>

                                        <div class="box-subtitle" style="font-size: 1.1em">E-pošta:</div>
                                        <div class="box-data"><span>fitnes.peter.klepec1995@gmail.com</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!----- End of main container --->

            <div class="col-lg-1"></div>
        </div>

        <!-- jQuery Version 1.11.0 -->
        <script src="/static/javascript/jquery-1.11.0.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/javascript/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".img-nav-right").hover(
                    function(){
                        $($(this).children().first().children().last()).fadeOut( 500 );
                    },
                    function(){
                        $($(this).children().first().children().last()).fadeIn( 500 );
                    }
                );

               $(".img-nav-left").hover(
                        function(){
                            $($(this).children().first().children().last()).fadeOut( 500 );
                        },
                        function(){
                            $($(this).children().first().children().last()).fadeIn( 500 );
                        }

                );

                $('.menuItem').click(
                        function(){
                            $('mainForm').submit()
                        }
                )
            });

        </script>
        {% block extra_script_content %}{% endblock %}




        <script src="/static/javascript/jquery.cookiesdirective.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $.cookiesDirective({

                    position: 'bottom',
                    explicitConsent: false,
                    duration: 30,
                    message:'Za nemoteno delovanje in varnost spletna stran uporablja piškotke.',
                    privacyPolicyUri: '/piskotki/',
                    backgroundColor: 'rgb(13,11,11)',
                    backgroundOpacity:'99',
                    fontSize:'1.1em',
                    fontFamily:'ubuntu-l'
                });
            });
        </script>
	</body>
</html>